body {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 130%;
    font-weight: normal;
}

#header {
    text-align: center;
}

#footer {
    font-size: 70%;
    text-align: center;
}

.blinker {
    animation: blinker 1s step-end infinite;
}
  
@keyframes blinker {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}