body {
    font-size: medium;
}

body#withBorder {
    width: fit-content;
}

div#photo {
    width: 150px;
    height: 150px;
}

div#content {
    border-left: dashed thin #777;
}

.table {
    display: table;
    border-spacing: 10px;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    vertical-align: top;
}