body {
    font-size: medium;
    width: fit-content;
    margin: 10px auto;
}

#photo {
    width: 150px;
    height: 150px;
    border-left: dashed thin #777;
    padding: 10px 10px 0px 10px;
    margin: 0px;
    text-align: center;
}

#textContent {
    border-left: dashed thin #777;
    border-right: dashed thin #777;
    padding: 0px 10px;
    margin: 0px;
}

#table {
    display: table;
    border-spacing: 0px;
    margin: 0px 10px;
}

.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    vertical-align: top;
}

#header {
    border: dashed thin #777;
    margin: 0px 10px;
    padding: 0px;
}

#footer {
    margin:0px 10px;
    padding: 0px;
    border: dashed thin #777;
}