/* Elements */

body {
    background-color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    text-align: center;
    font-size: 1.7em;
}

h2 {
    font-size: 1.3em;
    font-weight: normal;
}

/* IDs */

#footer {
    font-size: 0.8em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Classes */

.withBorder {
    border-style: dashed;
    border-color: #777;
    border-width: thin;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Media Queries */

@media screen and (max-device-width: 1125px) {
    body {
        font-size: x-large;
    }

    .withBorder {
        width: 100%;
    }
}

@media screen and (min-device-width: 1126px) {
    body {
        font-size: medium;
    }

    .withBorder {
        width: fit-content;
    }
}